{% extends 'main.html' %} {% block content %}

<h1>{{room.name}}</h1>

<p>{{room.description}}</p>

<div class="comment-wrapper">
  <h3>conversation</h3>
  <hr />

  {% for message in messages %}
  <div>
    <small>@{{message.user}} {{message.created| timesince}} ago</small>
    <p>{{message.body}}</p>

    <hr />
  </div>
  {% endfor %}
</div>

{% if request.user.is_authenticated %}
<div class="comment-form">
  <form method="POST" action="">
    {% csrf_token %}
    <input
      type="text"
      name="body"
      placeholder="Write your message in this area .."
    />
  </form>
</div>
{% endif %} {% endblock %}
